.main_content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main_content h2 {
    width: 100%;
    max-width: 1280px;
    text-align: center;
    margin: 1.5rem;
}

.products_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    gap: 5rem;
    flex-wrap: wrap;
}

.product_content {
    width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: .3s;
    border-radius: 5px;
    background-color: #efefef;
}

.product_content img {
    width: 100%;
    transition: .3s;
}
.product_content:hover {
    transform: scale(1.03);
}
.product_content p {
    width: 100%;
    text-align: center;
}

.buy_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.buy_btn {
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: #699bea;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
}

@media screen and (max-width: 1090px) {
    .products_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
        gap: 5rem;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 725px) {
    .products_grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 1rem;
        gap: 5rem;
        flex-wrap: wrap;
    }
}